body {
    background-color: black;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.phone_container {
    position: fixed;
    bottom: 20px;
    left: 80px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
	border:1px solid red;
	-webkit-appearance: none;
 
}

.phone-icon {
    overflow: hidden;
border:1px solid rgb(0, 55, 255);
    cursor: pointer;
    width: 91px;
    /* transition: all ease 0.4s; */
    z-index: 999;
    background-color: #57c82f7d;
    padding: 5px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0 0 0 10px #57c82f30;
-webkit-appearance: none;
    /* animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite; */
}

.phone-icon a img {
    width: 100%;
}
.phone-icon:hover {
    animation: none;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #57c82f30;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px #57c82f30;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 #57c82f30;
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #57c82f30;
        box-shadow: 0 0 0 0 #57c82f30;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px #57c82f30;
        box-shadow: 0 0 0 10px #57c82f30;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #57c82f30;
        box-shadow: 0 0 0 0 #57c82f30;
    }
}

/* .phone-icon--mob {
	display: block;
} */

@media (max-width: 992px) {
    /* 	.phone-icon--pc {
		display: none;
	} */
    .phone-icon--mob {
        display: block;
        left: auto;
        right: 24px;
        width: 91px;
    }
}
/* @media(max-width: 992px) {
	.phone-icon--mob {
		right: 24px;
	}
} */

@media (max-width: 576px) {
    .phone-icon--mob {
        bottom: 33px;
    }
}
